[Desktop Entry]
Categories=Utility;X-SuSE-SyncUtility;
Comment=Nextcloud desktop synchronization client
Exec=nextcloud
GenericName=Folder Sync
Icon=goa-account-nextcloud
Keywords=Nextcloud;syncing;file;sharing;
Name=Nextcloud Desktop
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-GNOME-Autostart-Delay=3
X-KDE-SubstituteUID=false
X-KDE-Username=
