[Desktop Entry]
Categories=ConsoleOnly;System;
Comment=
Encoding=UTF-8
Exec=fish
Icon=fish
Name=Fish
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
Version=1.0
X-KDE-SubstituteUID=false
X-KDE-Username=
