[Desktop Entry]
Categories=GTK;Application;Security;Utility;
Comment=
Exec=gpa %f
GenericName=GNU Privacy Assistant
Icon=gpa
MimeType=application/pgp-encrypted;application/pgp-signature
Name=GNU Privacy Assistant
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
